#mainContent {
  z-index: -1;
}

.tabContent {
  display: none;
}

#mainContent .active {
  display: flex;
}

.tabContent .col-6 {
  width: 48.5%;
}

/* ===============Charts & Stats =============*/
.progress {
  height: 0.8rem !important;
}
.progress .progress-bar {
  margin-right: 0.1rem;
}

.stats {
  height: 10rem;
  background: var(--primary-1);
  border-radius: 0.5rem;
  transition: background 0.5s;
}

.miniStats {
  width: 48.5%;
}

.charts {
  background: var(--primary-1);
  border-radius: 0.5rem;
  transition: background 0.5s;
}
@media screen and (min-width: 992px) {
  .charts {
    width: 48.5%;
  }
}

#ordersCount {
  height: 7rem;
  width: 7rem;
  position: relative;
  background: transparent;
  float: right;
  top: -19%;
  border: 0.2rem solid var(--hover);
  border-radius: 50%;
  animation: donut 5s ease-in-out infinite;
}

@media screen and (max-width: 1200px) {
  #ordersCount {
    height: 6rem;
    width: 6rem;
    top: -15%;
  }
  #ordersCount h4 {
    font-size: medium !important;
  }
}

#brandSales li {
  font-size: small;
}

.compareUp {
  color: var(--up);
  height: 1rem;
  width: 3rem;
  background: #0cf03227;
  border-radius: 0.5rem;
}
.compareDown {
  color: var(--down);
  height: 1rem;
  width: 3rem;
  background: #fc080828;
  border-radius: 0.5rem;
}
