#mainContent{
	z-index: -1;
}
.stats{
	height: 10rem;
	background: var(--primary-1);
	border-radius: .5rem;
	transition:  background .5s;
}
.statsContainer .col-6{
	width: 48.5%;
}
.charts{
	background: var(--primary-1);
	border-radius: .5rem;
	transition:  background .5s;
}
@media screen and (min-width:992px) {
	.charts{
		width:48.5%;
	}
}