@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');
@import "./sidebar.css";
@import "./controls.css";
@import "./charts.css";
:root {
  --dark-blue: #0a1726;
  --lightTheme:#bee3db;
  --primary-1: #131f2d;
  --primary-2: #344050;
  --hover: #0c6ffd;
  --secondary: #6c747c;
  --danger:#dc3545;
  --info:#0ccbf0;
  --up:#08fc31;
  --down:#fc0808;
}
.bg-dblue{
  background: var(--dark-blue);
}
.bg-lightTheme{
  background: var(--lightTheme);
}
.bg-primary2{
  background: var(--primary-2);
}
.seconary{
  background: var(--secondary);
}
.text-dblue{
  color: var(--dark-blue);
}
.controllight{
  background: #bde0fe;
}

*,
body {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body{
  background:var(--dark-blue);
  transition: background .5s;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}
/* ================Top Menu ===========*/

/* ==================== End Of Top Menu =============*/